h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5rem;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1rem 3rem;
}